In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("data.csv")

In [7]:
data.head()

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),53,...,13463-67-7,6,Titanium dioxide,06/17/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1
1,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,65996-92-1,4,Distillates (coal tar),07/01/2009,07/01/2009,NaN,07/01/2009,07/01/2009,NaN,2
2,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,140-67-0,5,Estragole,07/01/2009,07/01/2009,NaN,07/02/2009,07/02/2009,NaN,2
3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),46,...,13463-67-7,7,Titanium dioxide,07/09/2009,08/28/2013,NaN,07/09/2009,07/09/2009,NaN,1
4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),52,...,13463-67-7,8,Titanium dioxide,07/09/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1

In [9]:
data.shape

(114635, 22)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114635 entries, 0 to 114634
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CDPHId                  114635 non-null  int64
 1   ProductName             114635 non-null  object
 2   CSFId                   80662 non-null   float64
 3   CSF                     80237 non-null   object
 4   CompanyId               114635 non-null  int64
 5   CompanyName             114635 non-null  object
 6   BrandName               114408 non-null  object
 7   PrimaryCategoryId       114635 non-null  int64
 8   PrimaryCategory         114635 non-null  object
 9   SubCategoryId           114635 non-null  int64
 10  SubCategory             114635 non-null  object
 11  CasId                   114635 non-null  int64
 12  CasNumber               108159 non-null  object
 13  ChemicalId              114635 non-null  int64
 14  ChemicalName            114635 non-null  object
 15  InitialDateReported     114635 non-null  object
 16  MostRecentDateReported  114635 non-null  object
 17  DiscontinuedDate        12920 non-null   object
 18  ChemicalCreatedAt       114635 non-null  object
 19  ChemicalUpdatedAt       114635 non-null  object
 20  ChemicalDateRemoved     2985 non-null    object
 21  ChemicalCount           114635 non-null  int64
dtypes: float64(1), int64(7), object(14)
memory usage: 19.2+ MB

In [13]:
data.drop_duplicates(inplace=True)# removing duplicate

In [15]:
missing_count = data.isnull().sum()# checking for missing value
value_count = data.isnull().count()
missing_percentage = round(missing_count / value_count * 100, 2)
missing_value = pd.DataFrame({"count": missing_count, "percentage": missing_percentage})
missing_value

                         count  percentage
CDPHId                       0        0.00
ProductName                  0        0.00
CSFId                    33731       29.49
CSF                      34156       29.86
CompanyId                    0        0.00
CompanyName                  0        0.00
BrandName                  227        0.20
PrimaryCategoryId            0        0.00
PrimaryCategory              0        0.00
SubCategoryId                0        0.00
SubCategory                  0        0.00
CasId                        0        0.00
CasNumber                 6475        5.66
ChemicalId                   0        0.00
ChemicalName                 0        0.00
InitialDateReported          0        0.00
MostRecentDateReported       0        0.00
DiscontinuedDate        101508       88.75
ChemicalCreatedAt            0        0.00
ChemicalUpdatedAt            0        0.00
ChemicalDateRemoved     111396       97.39
ChemicalCount                0        0.00

In [17]:
data['Discontinued'] = data['DiscontinuedDate'].notnull().astype(int) # creating target variable

In [19]:
data.columns# data has column redundancy where extra column of id is present removing that , removing unwanted column

Index(['CDPHId', 'ProductName', 'CSFId', 'CSF', 'CompanyId', 'CompanyName',
       'BrandName', 'PrimaryCategoryId', 'PrimaryCategory', 'SubCategoryId',
       'SubCategory', 'CasId', 'CasNumber', 'ChemicalId', 'ChemicalName',
       'InitialDateReported', 'MostRecentDateReported', 'DiscontinuedDate',
       'ChemicalCreatedAt', 'ChemicalUpdatedAt', 'ChemicalDateRemoved',
       'ChemicalCount', 'Discontinued'],
      dtype='object')

In [21]:
data.drop(columns=['CSFId','CompanyId','PrimaryCategoryId','SubCategoryId','CasId','ChemicalId','CSF','CasNumber','CDPHId',	'ChemicalCreatedAt'	,'ChemicalUpdatedAt','InitialDateReported',	'MostRecentDateReported','ChemicalDateRemoved'],inplace=  True)

In [24]:
missing_count = data.isnull().sum()
value_count = data.isnull().count()
missing_percentage = round(missing_count / value_count * 100, 2)
missing_value = pd.DataFrame({"count": missing_count, "percentage": missing_percentage})
missing_value

                   count  percentage
ProductName            0        0.00
CompanyName            0        0.00
BrandName            227        0.20
PrimaryCategory        0        0.00
SubCategory            0        0.00
ChemicalName           0        0.00
DiscontinuedDate  101508       88.75
ChemicalCount          0        0.00
Discontinued           0        0.00

In [26]:
data.dropna(subset=['BrandName'], inplace=True)

In [28]:
data .shape

(114154, 9)

In [34]:
data.to_csv("clean_data.csv")

### LabelEncoder

In [37]:
from sklearn.preprocessing import LabelEncoder

# Label Encode categorical columns
label_encoders = {}
for col in ["ProductName", "CompanyName", "BrandName", "PrimaryCategory", "SubCategory", "ChemicalName"]:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le  # Store encoder for later use

### feature selection

In [40]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier


X_ = data.drop(columns=["Discontinued",'DiscontinuedDate'])  # Features
y_ = data["Discontinued"]  # Target variab

# Use RandomForest for feature ranking
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Apply RFE to select top 10 features
rfe = RFE(estimator=model, n_features_to_select=4)
X_new = rfe.fit_transform(X_, y_)

# Get selected features
selected_features = X_.columns[rfe.support_]
print("Selected Features:", selected_features)

Selected Features: Index(['ProductName', 'CompanyName', 'BrandName', 'SubCategory'], dtype='object')

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_)

# Train Logistic Regression Model
log_reg = LogisticRegression(solver='liblinear')  # Use 'liblinear' for small datasets
log_reg.fit(X_, y_)

# Get feature importance (absolute values of coefficients)
importance = abs(log_reg.coef_[0])

# Select important features using threshold
selector = SelectFromModel(log_reg, threshold="median", prefit=True)
X_train_selected = selector.transform(X_)

# Get selected feature names
selected_features = X_.columns[selector.get_support()]
print("Selected Features:", selected_features)

Selected Features: Index(['CompanyName', 'PrimaryCategory', 'SubCategory', 'ChemicalName'], dtype='object')

###### training random foreest with['ProductName', 'BrandName','SubCategory','ChemicalName', 'ChemicalCount']

### RF

In [46]:
features = data[['ProductName', 'BrandName','SubCategory','ChemicalName', 'ChemicalCount']]
target = data['Discontinued']

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42,stratify=target)

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print(f'{accuracy:.2f}')
print('\n classification_report \n',classification_report(y_test,y_pred))

train_pred =model.predict(X_train)
train_log_accuracy=accuracy_score(train_pred,y_train)
print(f"\ntrain accuracy : {train_log_accuracy:.2f}")

0.98

 classification_report
               precision    recall  f1-score   support

           0       0.98      0.99      0.99     20278
           1       0.93      0.86      0.89      2553

    accuracy                           0.98     22831
   macro avg       0.95      0.93      0.94     22831
weighted avg       0.98      0.98      0.98     22831


train accuracy : 1.00

### svm

In [50]:
from sklearn.svm import SVC
svm=SVC(kernel="rbf", C=1, gamma="scale")
svm.fit(X_train, y_train)


y_train_pred = svm.predict(X_train)
train_accuracy = accuracy_score( y_train_pred, y_train)
print(f"Training Accuracy: {train_accuracy:.2f}")

y_pred_svm=svm.predict(X_test)
accuracy_svm=accuracy_score(y_pred_svm,y_test)
print(f"accuracy_svm : {accuracy_svm:.2f}")


print ("\n classification report \n", classification_report(y_pred_svm,y_test))

Training Accuracy: 0.89
accuracy_svm : 0.89

 classification report
               precision    recall  f1-score   support

           0       1.00      0.89      0.94     22831
           1       0.00      0.00      0.00         0

    accuracy                           0.89     22831
   macro avg       0.50      0.44      0.47     22831
weighted avg       1.00      0.89      0.94     22831

### xgb

In [52]:
import xgboost as xgb

xgb_model = xgb.XGBClassifier(
    n_estimators=100,         
    learning_rate=0.05,   
    max_depth=4,             
   
    random_state=42
)


xgb_model.fit(X_train, y_train, verbose=False)


y_pred = xgb_model.predict(X_test)

# Print accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Test Accuracy: {accuracy:.4f}")

# Print classification report
print(classification_report(y_test, y_pred))


train_pred =model.predict(X_train)
train_log_accuracy=accuracy_score(train_pred,y_train)
print(f"\ntrain accuracy : {train_log_accuracy:.2f}")

Test Accuracy: 0.9153
              precision    recall  f1-score   support

           0       0.92      0.99      0.95     20278
           1       0.85      0.29      0.44      2553

    accuracy                           0.92     22831
   macro avg       0.88      0.64      0.70     22831
weighted avg       0.91      0.92      0.90     22831


train accuracy : 1.00

### tuned random forest

In [55]:
model = RandomForestClassifier(
    n_estimators=100,       
    max_depth=12,         
    min_samples_split=15,   
    min_samples_leaf=5, 
    class_weight="balanced",
    random_state=42
)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print(f'{accuracy:.2f}')
print('\n classification_report \n',classification_report(y_test,y_pred))

train_pred =model.predict(X_train)
train_log_accuracy=accuracy_score(train_pred,y_train)
print(f"\ntrain accuracy : {train_log_accuracy:.2f}")

0.94

 classification_report
               precision    recall  f1-score   support

           0       0.98      0.95      0.97     20278
           1       0.69      0.84      0.76      2553

    accuracy                           0.94     22831
   macro avg       0.83      0.89      0.86     22831
weighted avg       0.95      0.94      0.94     22831


train accuracy : 0.95